@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size: 100%;
	margin: 0;
	padding: 0;
}

#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right: auto;
	margin-left: auto;
	overflow: hidden;
}

nav {
	background: #CC3910;
	float: left;
	width: 160px;
}

ul {
	list-style-type: none;
}

a {
	color: #F1F2C0;
	text-decoration: none;
}

section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}

aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}

/* -RESOLUCIÓN CON FLEXBOX- */

@media screen and (max-width: 800px) {
	#contenedor {
		width: 100%;
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		justify-content: center;
		align-content: flex-start;
	}

	nav,
	section,
	aside {
		width: 100%;
		margin: 0;
		text-align: justify;
	}

	h1,
	h2,
	p {
		margin: 10px;
	}
}

/* -RESOLUCIÓN CON FLOAT- */

/* @media screen and (max-width: 800px) {

	#contenedor,
	nav,
	section,
	aside {
		float: none;
		width: 100%;
		margin: 0;
	}

	nav,
	section,
	aside {
		display: inline-block;
	}

	h1, h2, p {
		margin: 10px;
	}
} */