.contenedor {
    margin:auto;
    border: 2px solid black;    
    box-sizing: border-box;
    display:flex;
    flex-direction: row;
    justify-content:space-between;
}

.contenedor div {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
}

.cubo1 {
    background-color: red;
}

.cubo2 {
    background-color: blue;
}

.cubo3 {
    background-color: green;
}